# generated datasets
data/

# python
__pycache__/
*.pyc
.venv/

# c++ builds
build/
*.o
*.out

# verilator
obj_dir/
*.vcd
*.fst

# editors / os
.vscode/
.idea/
.DS_Store

# sim binaries
/golden
/test_ops
/host_app
/test_quantize
/stb_impl.o
